@model SupportManagemantSystem.Models.UserGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PupularLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.userGroupID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
