@model SupportManagemantSystem.Models.Message

@{
    ViewBag.Title = "پیام";
    if (ViewBag.GroupID == 3)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="col-lg-9  pull-right">
    <div class="panel panel-info">
        <div class="panel-heading">
            @Model.title
        </div>
        <div class="panel-body">
            <p>
                @Model.text
            </p>
        </div>
        <div class="panel-footer">
            شرکت ریزکاران
        </div>
    </div>
</div>